"Security Group ID","Security Group Name","Instance ID","Inbound Rules","Outbound Rules"
{% for sg in security_groups %}
  {% set inbound_rules = sg.inbound_rules %}
  {% set outbound_rules = sg.outbound_rules %}

  {% if sg.instances %}
    {% for instance in sg.instances %}
"{{ sg.id }}","{{ sg.name }}","{{ instance.id }}","{{ inbound_rules }}","{{ outbound_rules }}"
    {% endfor %}
  {% else %}
"{{ sg.id }}","{{ sg.name }}","No instances attached","{{ inbound_rules }}","{{ outbound_rules }}"
  {% endif %}
{% endfor %}
