"Security Group ID","Security Group Name","Instance ID"
{% for sg in security_groups %}
{% if sg.instances %}
{% for instance in sg.instances %}
"{{ sg.id }}","{{ sg.name }}","{{ instance.id }}"
{% endfor %}
{% else %}
"{{ sg.id }}","{{ sg.name }}","No instances attached"
{% endif %}
{% endfor %}
